<%- include("partials/header") -%>

<h2>Home</h2>
<p> <%= homeContent %> </p>

<% postsData.forEach((posts) => { %>
	<h2> <%= posts.title %> </h2>
	<p> <%= posts.content %> </p>
<% }) %>

<%- include("partials/footer") -%>